.ProfileImageBox {
  padding: 35px 0;
}

#ProfileImage {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 100%;
}

.navlinks {
  padding: 2em;
}

.navoption {
  padding: 1em 0;
  margin: 1em 0;
}

.navoption:hover {
  cursor: pointer;
  color: rgb(179, 176, 176);
  box-shadow: 0 2px 4px rgb(66, 66, 66);
}