/* Shared props */
.Timeline, .Chapters, .Scale {
  justify-content: flex-start;
  align-items: center;
}

/* ******************** */

.Timeline {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 82%;
  height: 18%;
  width: 100%;
  background-image: linear-gradient(#fffdd0, white);
  box-shadow: 0 -1px 5px black;
  overflow-x: auto;
  /* hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Timeline::-webkit-scrollbar {
  display: none;  /* chrome */
}


/* Chapters */
.Chapters {
  order: 0;
  min-width: 100%;
  display: flex;
  flex-flow: row-wrap;
  min-height: 50%;
  max-height: 50%;
}

.Chapters div {
  min-width: 2em;
  max-width: 2em;
  min-height: 2em;
  max-height: 2em;
  border-radius: 50%;
  margin: 0 2em;
  text-align: center;
  color: black;
  background-color: rgb(69, 69, 221);
}

/* ************** */


/* Scale */
.Scale {
  order: 1;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 50%;
  max-height: 50%;
  height: 50%;
  color: grey;
}

.scaleMarking {
  display: flex;
  flex-direction: column;
}

.year {
  order: 0;
  min-width: 100%;
}

.marking {
  order: 1;
  min-width: 100%;
  text-align: center;
}