.Timeline {
  position: absolute;
  display: flex;
  flex-flow: row-wrap;
  justify-content: flex-start;
  top: 80%;
  height: 20%;
  width: 100%;
  background-image: linear-gradient(#fffdd0, white);
  box-shadow: 0 -1px 5px black;
  cursor: grab;
  overflow-x: auto;
  /* hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Timeline::-webkit-scrollbar {
  display: none;  /* chrome */
}

.Timeline div {
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  min-height: inherit;
  text-align: center;
  color: black;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.Timeline div:active {
  cursor: grabbing;
}