/* Shared props */
.Timeline, .Chapters, .Scale {
  justify-content: flex-start;
  align-items: center;
}

/* ******************** */

.Timeline {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 82%;
  height: 18%;
  width: 100%;
  background-image: linear-gradient(#fffdd0, white);
  box-shadow: 0 -1px 5px black;
  overflow-x: auto;
  /* hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Timeline::-webkit-scrollbar {
  display: none;  /* chrome */
}


/* Chapters */
.Chapters {
  order: 0;
  min-width: 100%;
  min-height: 50%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
}

#Pointer {
  order: 0;
  min-width: 100%;
  min-height: 65%;
  max-height: 65%;
  color: rgb(23, 23, 199);
  display: flex;
  justify-content: center;
}

#Pointer div {
  min-height: 100%;
}

#Line {
  order: 1;
  min-width: 100%;
  min-height: 35%;
  max-height: 35%;
  background-color: rgb(151, 151, 151);
}

/* ************** */


/* Scale */
.Scale {
  order: 1;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 50%;
  max-height: 50%;
  height: 50%;
  color: grey;
}

.scaleMarking {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.year {
  order: 0;
  min-width: 100%;
}

.marking {
  order: 1;
  min-width: 100%;
}