.App {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#0b2c01, #028502);
}

.Sidenavmain {
  order: 0;
  width: 20%;
  height: inherit;
  background-image: linear-gradient(#855103, #b5a505);
  box-shadow: 5px 3px 10px black;
}

.Storymain {
  order: 1;
  width: 80%;
  height: inherit;
}



/* Profile link section */
.Profiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
}

.Profiles div {
  margin: 0.5em;
  color: white;
}

.Profiles a {
  padding: 10px;
  color: inherit;
}

.Profiles a:hover {
  border-radius: 10%;
  box-shadow: 0.5px 0.5px 5px black, -0.5px -0.5px 5px black;
}