.App {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
}

.Sidenavmain {
  order: 0;
  width: 20%;
  height: inherit;
  z-index: 10;
  border-right: 0.5px solid rgb(85, 85, 85);
}

.Storymain {
  order: 1;
  width: 80%;
  height: inherit;
}