.App {
  position: absolute;
  background: #a57807;
  height: 100%;
  width: 100%;
}

.centerPiece {
  position: absolute;
  top: 25%;
  left: calc(50% - 83.039px);
  text-align: center;
  font-weight: 700;
  color: white;
}

.centerPiece img {
  border-radius: 50%;
}